<!DOCTYPE html>
<html ng-app='admin'>
	<head>
		<!--Include scripts and stylesheets -->
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src='../public/javascripts/admintest.js'></script>
		<link href='../public/stylesheets/admintest.css' type='text/css' rel='stylesheet'/>
		<title>
			Admin Home
		</title>
	</head>
	<body>
		<div ng-controller='AdminController as ctrl'>
			<!-- back button -->
			<button id='back-button' ng-click='ctrl.back();' ng-show="ctrl.currentSection>0"> back </button>
			<!-- logo -->
			<img id='logo' src='../public/images/logo.png'/>
			
			<!-- form for login -->
			<div class='login' ng-show='ctrl.currentSection === 0'>
				<h1> Food Pantry Admin Site </h1>
				<form>
					username:<input type='text'></input>
					<br>
					password:<input type='text'></input>
					<br>
					<input class='-not-disappear' id='login-button' type='button' value='Login' ng-click="ctrl.login();"</input>
				</form>
			</div>
			
			<!-- Buttons for different actions admins can take -->
			<div class='actions' ng-show='ctrl.currentSection === 1'>
				<h2>I would like to ... <h2>
				<button class='select-action-button' ng-click='ctrl.toSignupView();'>
					View current food pantry signups.
				</button>
				<br>
				<button class='select-action-button' ng-click='ctrl.toHoursView();'>
					Manage food pantry hours.
				</button>
				<br>
				<button class='select-action-button' ng-click='ctrl.toAccountsView();'>
					Manage admin accounts.
				</button>
			</div>
			
			<!-- Interactive view for the current guest signups for today or tomorrow. JQuery and show/hidden tags -->
			<div class='viewguests' ng-show="ctrl.currentSection === 2">
				<h2> View guests currently signed up for each time slot: </h2>
				<div class='today'>
					<h3>Today</h3>

					<!-- TODO make times reflect the actual times for that day, instead of default -->
					<h3>Tomorrow</h3>
				</div>
				<div class='tomorrow'>
				</div>
			</div>
			
			<!-- Table displaying the current hours, with edit buttons, and a form for new hours, that will appear only if edit button is clicked-->
			<div class='hours' ng-show='ctrl.currentSection === 3'>
				<h2>Food Pantry Hours of Operation</h2>
				<h3 class='left-align'>Manage default hours:</h3>
				<div> 
					<table id='default-hours'>
						<tr ng-repeat="dayHours in ctrl.defaultHours()">
							<td>{{dayHours.day}} </td>
							<td ng-repeat='time in dayHours.hours'>{{time}}</td>
							<td class='edit-default'> <button ng-click='ctrl.editDefaultHours(dayHours.day);'>edit</button></td>'
						</tr>
					</table>
				</div>
				<!-- Form for new hours.-->
				<div class='edit-default' ng-show='ctrl.showEditDefaultHours'>
					<p> Please enter your new desired hours. 
						<br>
						<strong>Include the start and end time and capacity of each timeslot.</strong>
						<br>
						example - start: 9:00AM end: 10:00AM max-capacity: 27
 					</p>
 					<p> New Hours for <span>{{ctrl.editDay}}</span>: </p>
					<form class='new-default-times'>
						<div class='slots'>
							<button class='new-time-slot' ng-click='ctrl.additionalDefaultTimeslot();'>Additional Time Slot</button>
							<div class='slot'>
								start: <input class='new-start-time' type='text' placeholder='9:00AM'> </input>
								end: <input class='new-end-time' type='text' placeholder='10:00AM'> </input>
								max-capacity: <input class='new-max-cap' type='text' placeholder='27'> </input>
								<button class='remove-time-slot' ng-click='ctrl.removeDefaultTimeslot();'>Remove</button>
								<br>
							</div>
						</div> 
						<button ng-click='ctrl.saveNewDefaultHours();'>Save New Hours</button>
					</form>
				</div>
				<!-- Current specific date rules -->
				<div>
					<h3 class='left-align'>Manage special hours:</h3>
					<table id='special-hours'>
						<!--Runs the specialRules function to get a list of rules, each of which contains a date and a list of times -->
						<tr ng-repeat='rule in ctrl.specialRules()'>
							<td> <strong> {{rule.date}} </strong> </td>
							<td ng-repeat='time in rule.times'>{{time}}</td> 
							<td><button class='edit-special-hours-button' ng-click='ctrl.editSpecialHours(rule.date);'>edit</button></td>
						</tr>
					</table> 
					<div id='edit-special-hours' ng-show='ctrl.showEditSpecialHours'>
						<div class='slots'>
							<p> Editing the hours for: <span>{{ctrl.editDate}}</span> </p>
							start: <input class='new-start-time' type='text' placeholder='9:00AM'> </input>
							end: <input class='new-end-time' type='text' placeholder='10:00AM'> </input>
							max-capacity: <input class='new-max-cap' type='text' placeholder='27'> </input>
							<button class='remove-time-slot' ng-click='ctrl.removeSpecialTimeslot();'>Remove</button>
						</div>
						<button ng-click='ctrl.saveNewEditedSpecialHours();'>Save New Special Hours for {{ctrl.editDate}} </button>
					</div>
					<div id='new-special-hours'>
						<p>Add New Special Hours on Date:</p>
						<select id = "year" ng-change = "ctrl.updateDates()">
							<option ng-repeat = "year in ctrl.years" value = {{year}}>{{year}}</option>
						</select>
						<select id = "month" ng-change = "ctrl.updateDates()">
							<option ng-repeat = "month in ['January', 'February', 'March', 'April', 'May','June', 'July', 'August', 'September', 'October', 'November', 'December']" value = {{month}}>{{month}}</option>
						</select>
						<select id = "date" ng-change = "ctrl.updateDates()">
							<option ng-repeat = "day in ctrl.monthDayPairs.January" value = {{day}}>{{day}}</option>
						</select>
						<button ng-click='ctrl.newSpecialHours();'>Select</button>
					</div>
				</div>
			</div>
			
			<!-- Scrollable table with current admins and delete buttons-->
			<!-- Form for new admin -->
			<div class='accounts' ng-show='ctrl.currentSection === 4'>
				<h3>Manage admin accounts</h3>
				<table class='admin-list' >
					<tr ng-repeat='admin in ctrl.fakeAdminData()'>
						<td width='50%'> {{admin}} </td>
						<td width='50%'> <button ng-click='ctrl.removeAdmin(admin)'> remove </button></td>
					</tr>
				</table>
				<button ng-click='ctrl.toAddNewAdmin();'>Add New Admin Account</button>
				<div class='new-admin' ng-show='ctrl.showNewAdmin'>
					<form>
						new username:<input id='new-admin-username' type='text'></input>
						<br>
						new password:<input id='new-admin-password' type='text'></input>
						<br>
						confirm new password:<input id='new-admin-confirm-password' type='text'></input>
						<input class='not-disappear' id='new-admin' type='button' value='Save New Admin Account' ng-click="ctrl.addNewAdmin();"</input>
					</form>
				</div>
			</div>
		</div>
	</body>	
</html>