<!DOCTYPE html>
<html ng-app='admin'>
	<head>
		<!--Include scripts and stylesheets -->
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src='../public/javascripts/admintest.js'></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Playfair+Display|Sacramento' rel='stylesheet' type='text/css'/>
		<link href='../public/stylesheets/admintest.css' type='text/css' rel='stylesheet'/>
		<title>
			Admin Home
		</title>
	</head>

	<body>
		<div ng-controller='AdminController as ctrl'>
			<!-- back button -->
<!-- 			<button id='back-button' ng-click='ctrl.back();' ng-show="currentSection>0"> back </button>
 -->			<!-- logo -->
			<img id='logo' src='../public/images/logo.png'/>
			<h1> Food Pantry Admin Site </h1>

			<!-- form for login -->
			<div class='login' ng-show='currentSection === 0'>
				<h3>Log In</h3>
				<form>
					<p>Username</p><input type='text' id = "login-username"></input>
					<br>
					<p>Password</p><input type='password' id = "login-password"></input>
					<br>
					<input class='-not-disappear' id='login-button' type='button' value='login' ng-click="ctrl.login();"></input>
				</form>
				<div class='login-error' ng-show='ctrl.loginError'>
					<p> Incorrect username or password combination. </p>
					<p> Try again or contact a Rosie's Place administrator for help remembering or requesting an account. </p>
				</div>
				<div class='login-error' ng-show='ctrl.missingLogin'>
					<p> Missing username or password. </p>
				</div>
			</div>
			
			<!-- Buttons for different actions admins can take -->
			<div class='actions'>
				<ul>
				<li class='select-action-button' ng-class= '{activeMenu:currentSection==1}' ng-click='ctrl.toSignupView();'>
					CURRENT SIGNUPS
				</li>
				<li class='select-action-button' ng-class= ' {activeMenu:currentSection==3}' ng-click='ctrl.toHoursView();'>
					FOOD PANTRY HOURS
				</li>
				<li class='select-action-button' ng-class= ' {activeMenu:currentSection==4}' ng-click='ctrl.toAccountsView();'>
					ADMIN ACCOUNTS
				</li>
				<li class = 'select-action-button' ng-class= ' {activeMenu:currentSection==5}' ng-click = 'ctrl.toAddGuestsView();'>
					ADD GUEST ACCOUNT
				</li>
				</ul>
			</div>			
			<!-- Interactive view for the current guest signups for today or tomorrow. JQuery and show/hidden tags -->
			<div class='viewguests' ng-show="currentSection === 1">
				<h3>Current Signups</h3>
				<p> Click on a day and a time to see a list of guests and whether or not they require a pre-made bag. </p>
				<button id = 'print' ng-click = 'ctrl.printPage()'>Print Page</button>
				<ul id='times'>
					<!-- Today -->
					<li> <a href='#' ng-click='ctrl.toggleToday();'>Today </a> <button class= 'showDays' id = 'showtoday' ng-click = 'ctrl.showAll("today")'>Show All</button>
						<ul class='today-times' ng-show='ctrl.showToday'> 							
							<li ng-repeat='time in ctrl.todayTimes;'> <a href='#' ng-click='ctrl.showGuests("today", time);'>  
								{{ctrl.timeArrayToString(time.time)}} </a>
								<table class='today-guests'>
									<tr ng-repeat='guest in todayGuests[time.time]'> 
											<td>Name: {{guest.firstName}} {{guest.lastName}}</td>
											<td ng-show = 'guest.premade' class = 'bag'>BAG</td>
											<td ng-show = '!guest.premade'></td>
											<td ng-show = 'guest.waitlist' class = 'waitlistPerson'>waitlist</td>
									</tr>
								</table>
							</li>
						</ul>
					</li>
					<!-- Tomorrow -->
					<li> <a href='#' ng-click='ctrl.toggleTomorrow();'>Tomorrow </a> <button class = 'showDays' id = 'showtomorrow' ng-click = 'ctrl.showAll("tomorrow")'>Show All</button>
						<ul class='tomorrow-times' ng-show='ctrl.showTomorrow'> 
							<li ng-repeat='time in ctrl.tomorrowTimes;'> <a href='#' ng-click='ctrl.showGuests("tomorrow", time);'>  
								{{ctrl.timeArrayToString(time.time)}} </a>
								<table class='tomorrow-guests'>
									<tr ng-repeat='guest in tomorrowGuests[time.time]'> 
										<td>Name: {{guest.firstName}} {{guest.lastName}}</td> <td>Bag: {{ctrl.displayYesNo(guest.premade);}}</td>
									</tr>
								</table>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<!-- Table displaying the current hours, with edit buttons, and a form for new hours, that will appear only if edit button is clicked-->
			<div class='hours' ng-show='currentSection === 3'>
				<h3>Food Pantry Hours of Operation</h3>
				<div class='default'>
					<h4 class='left-align'>Manage default hours:</h4>
					<p class='left-align' style='font-size: 14pt'> Click a time to edit or delete it. </p>
					<div class='default-hours'> 
						<table id='default-table'>
							<tr ng-repeat="dayOfWeek in ctrl.daysOfWeek">
								<td style='text-decoration:underline'>{{dayOfWeek}}</td>
								<td ng-repeat='rule in ctrl.defaultHours[dayOfWeek]'> <a href='#' ng-click='ctrl.editDefaultHours(rule);'>{{rule.time[0]}}-{{rule.time[1]}} <br>({{rule.maxCap}}, {{rule.maxWaitlist}}) </a></td>
								<td><button ng-click='ctrl.addDefaultHours(dayOfWeek);'>add</button></td>'
							</tr>
						</table>
					</div>
					<!-- Form for new hours.-->
					<div class='edit-default' ng-show='ctrl.showEditDefault'>
	 					<p> Editing timeslot on day: <span>{{ctrl.editRule.date}}</span> 
	 						<br> Current timeslot: {{ctrl.editRule.time[0]}}-{{ctrl.editRule.time[1]}} ({{ctrl.editRule.maxCap}}, {{ctrl.editRule.maxWaitlist}})
	 					</p>
	 					<button ng-click='ctrl.deleteDefaultRule(ctrl.editRule);'>Delete this Timeslot</button>
						<form class='edit-default-times'>
							<div class='slots'>
								<p> Please enter times in military format; example -- 9:00AM is 9:00 and 9:00PM is 21:00 </p>
								<div class='default-input'>
									start: <input id='edit-default-start' type='text' placeholder='16:30'></input>
									<br> end: <input id='edit-default-end' type='text' placeholder='17:30'></input>
									<br> timeslot capacity: <input id='edit-default-max-cap' type='text' placeholder='25'></input>
									<br> waitlist capacity: <input id='edit-default-waitlist' type='text' placeholder='2'></input> 
								</div>
							</div> 
							<button ng-click='ctrl.saveEditedDefaultRule();'>Save New Hours</button>
							<button ng-click='ctrl.cancelEditedDefaultRule();'>Cancel</button>
							<p>Your new default hours won't be saved unless you click "Save New Hours"</p>
					</div>
					<div class='add-default' ng-show = 'ctrl.showAddDefault'>
						<p> Adding a timeslot for day <span>{{ctrl.addDay}}</span> </p>
						</form>
						<form class='add-default-times'>
							<div class='slots'>
								<p> Please enter times in military format; example -- 9:00AM is 9:00 and 9:00PM is 21:00 </p>
								<div class='default-input'>
									start: <input id='add-default-start' type='text' placeholder='16:30'></input>
									<br> end: <input id='add-default-end' type='text' placeholder='17:30'></input>
									<br> timeslot capacity: <input id='add-default-max-cap' type='text' placeholder='25'></input>
									<br> waitlist capacity: <input id='add-default-waitlist' type='text' placeholder='2'></input> 
								</div>
							</div> 
							<button ng-click='ctrl.saveAddedDefaultRule();'>Save New Hours</button>
							<button ng-click='ctrl.cancelAddedDefaultRule();'>Cancel</button>
							<p>Your new default hours won't be saved unless you click "Save New Hours"</p>
						</form>
					</div>
				</div>
				<!-- Current specific date rules -->
				<div class='special'>
					<h4 class='left-align'>Manage special hours:</h4>
					<div class='special-hours'>
						<table id='special-table'>
							<!--Runs the specialRules function to get a list of rules, each of which contains a date and a list of times -->
							<tr ng-repeat='date in ctrl.specialDates'>
								<td> <strong> {{date}} </strong> </td>
								<td ng-repeat='rule in ctrl.specialRules[date]'> <a href='#' ng-click='ctrl.editSpecialHours(rule)'> {{rule.time[0]}}-{{rule.time[1]}} <br> ({{rule.maxCap}}, {{rule.maxWaitlist}})</a></td> 
							</tr>
						</table> 
					</div>
						<!-- Form for editing special hours.-->
					<div class='edit-special' ng-show='ctrl.showEditSpecial'>
	 					<p> Editing timeslot on day: <span>{{ctrl.specialRule.date}}</span> 
	 						<br> Current timeslot: {{ctrl.specialRule.time[0]}}-{{ctrl.specialRule.time[1]}} ({{ctrl.specialRule.maxCap}}, {{ctrl.specialRule.maxWaitlist}})
	 					</p>
	 					<button ng-click='ctrl.deleteSpecialRule(ctrl.specialRule);'>Delete this Timeslot </button>
						<form class='new-special-times'>
							<div class='slots'>
								<div class='special-input'>
									start: <input id='edit-special-start' type='text' placeholder='13:00'> </input>
									end: <input id='edit-special-end' type='text' placeholder='14:00'> </input>
									timeslot capacity: <input id='edit-special-max-cap' type='text' placeholder='27'> </input>
									waitlist capacity: <input id = 'edit-special-waitlist' type='text' placeholder='2'></input>
								</div>
							</div> 
							<button ng-click='ctrl.saveEditedSpecialRule();'>Save New Hours</button>
							<button ng-click='ctrl.cancelEditedSpecialRule();'>Cancel</button>
							<p>Your new hours won't be saved unless you click "Save New Hours"</p>
						</form>
					</div>
				</div>
				<div class='new-special'>
					<div class='new-special-hours'>
						<h4 class='left-align'> Add a New Special Hours Rule </h4>
						<p>Select a Date:</p>
						<select id="select-year">
							<option ng-repeat = "year in ctrl.futureYears" value = {{year}}>{{year}}</option>
						</select>
						<select id="select-month">
							<option ng-repeat = "month in ['January', 'February', 'March', 'April', 'May','June', 'July', 'August', 'September', 'October', 'November', 'December']" value={{month}}>{{month}}</option>
						</select>
						<select id="select-date">
							<option ng-repeat = "day in ctrl.allDays" value={{day}}> {{day}}</option>
						</select>
						<button ng-click='ctrl.addSpecialRule();'>Select</button>
						<p ng-show='ctrl.showDateError'>Error: Please choose a valid date. </p>
					</div>
					<!-- Form for adding special hours.-->
					<div class='add-special' ng-show='ctrl.showAddSpecial'>
						<p>Adding timeslot on date: {{ctrl.newDate}} </p>
						<form class='add-special-times'>
							<div class='slots'>
								<div class='special-input'>
									start: <input id='add-special-start' type='text' placeholder='13:00'> </input>
									end: <input id='add-special-end' type='text' placeholder='14:00'> </input>
									<br>
									timeslot capacity: <input id='add-special-max-cap' type='text' placeholder='27'> </input>
									waitlist capacity: <input id = 'add-special-waitlist' type='text' placeholder='2'></input>
								</div>
							</div> 
							<button ng-click='ctrl.saveAddedSpecialRule();'>Save New Hours</button>
							<button ng-click='ctrl.cancelAddedSpecialRule();'>Cancel</button>
							<p>Your new hours won't be saved unless you click "Save New Hours"</p>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Scrollable table with current admins and delete buttons-->
			<!-- Form for new admin -->
			<div class='accounts' ng-show='currentSection === 4'>
<!-- 				<button ng-click='ctrl.getAdminUsernames();'> Refresh Admin Accounts </button> -->
				<h3>Manage admin accounts</h3>
				<table class='admin-list' >
					<tr ng-repeat='admin in ctrl.allUsernames'>
						<td width='33%'> {{admin.username}} </td>
						<td width='33%'> ({{admin.type}}) </td>
						<td width='33%'> <button ng-click='ctrl.removeAdmin(admin._id)'> remove </button></td>
					</tr>
				</table>
				<button ng-click='ctrl.toAddNewAdmin();'>Add New Admin Account</button>
				<div class='new-admin' ng-show='ctrl.showNewAdmin'>
					<form>
						new username:<input id='new-admin-username' type='text'></input>
						<!--<p class='admin-error-username' ng-show="$('#new-admin-username').val().length>0 && ctrl.validUsername)">That username is available!</p>
						<p class='admin-error-username' ng-show='!ctrl.validUsername;'>That username is already taken, please choose another one.</p>-->
						<br>
						new password:<input id='new-admin-password' type='password'></input>
						<br>
						confirm new password:<input id='new-admin-confirm-password' type='password'></input>
						<br>
						account type: <select id='new-admin-type'><option val='admin'>admin</option><option val='volunteer'>volunteer</option></select>
						<br>
						<button class='not-disappear' id='new-admin' ng-click="ctrl.addNewAdmin();">Save New Admin Account</button>
						<button ng-click='ctrl.hideNewAdminAccountView();'>Cancel</button>
					</form>
					<p ng-show='ctrl.showAdminErrorUsername'>The username you have requested is already taken, select a different one.</p>
					<p ng-show='ctrl.showAdminErrorPassword'>Please ensure that you have typed the same password twice.</p>
				</div>
			</div>

			<div class = 'guests' ng-show = 'currentSection === 5'>
				<form name = 'guestForm' novalidate ng-show = '!ctrl.createSuccess'>
				<h3>Add a guest</h3>
				<span class = "label"> First Name: </span><input name = "first" type = "text" ng-model = "user.firstName" placeholder = "type here" required = ""><br>
				<span class = "error" ng-show = "ctrl.attempted && !user.firstName">please enter guest's first name</span><br>

				<span class = "label"> Last Name: </span><input name = "last" type = "text" ng-model = "user.lastName" placeholder = "type here" required = ""><br>
				<span class = "error" ng-show = "ctrl.attempted && !user.lastName">please enter guest's last name</span><br>

				<span class = "label"> Date of Birth: </span>

				<select name = "year" id = "dobyear" ng-model = "user.dob.year" ng-change = "ctrl.updateDates()" ng-options = "year for year in ctrl.years" required = ""></select>
				<select name = "month" id = "dobmonth" ng-model = "user.dob.month" ng-change = "ctrl.updateDates()" ng-options = "month for month in ['January', 'February', 'March', 'April', 'May','June', 'July', 'August', 'September', 'October', 'November', 'December']" required = ""></select>
				<select name = "day"id = "dobdate" ng-model = "user.dob.day"required = ""><option ng-repeat = "day in ctrl.monthDayPairs[0]" value = {{day}}>{{day}}</options></select><br>
				<span class = "error" ng-show = "ctrl.attempted && (!user.dob.day || !user.dob.month || !user.dob.year)">please fill out guest's date of birth</span>
				<br><br>
				<button type = "submit" class = "button-1" ng-click = "ctrl.create(user)">create</button>
				</form>
				<div ng-show = 'ctrl.createSuccess'>
				<h3>Success!</h3>
				Added a guest.<br><br>
				First Name: {{user.firstName}}<br>
				Last Name: {{user.lastName}}<br>
				Date of Birth: {{user.dob.year}} {{user.dob.month}} {{user.dob.day}}<br>
				<button class = 'button-1' ng-click = 'ctrl.resetCreate()'>add another</button>
				</div>
			</div>
		</div>
	</body>	
</html>