<!DOCTYPE html>
<html ng-app='admin'>
	<head>
		<!--Include scripts and stylesheets -->
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src='../public/javascripts/admintest.js'></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Playfair+Display' rel='stylesheet' type='text/css'>
		<link href='../public/stylesheets/admintest.css' type='text/css' rel='stylesheet'/>
		<title>
			Admin Home
		</title>
	</head>

	<body>
		<div ng-controller='AdminController as ctrl'>
			<!-- back button -->
			<button id='back-button' ng-click='ctrl.back();' ng-show="ctrl.currentSection>0"> back </button>
			<!-- logo -->
			<img id='logo' src='../public/images/logo.png'/>
			<h1> Food Pantry Admin Site </h1>

			<!-- form for login -->
			<div class='login' ng-show='ctrl.currentSection === 0'>
				<h3>Admin Log In</h3>
				<form>
					username:<input type='text'></input>
					<br>
					password:<input type='password'></input>
					<br>
					<input class='-not-disappear' id='login-button' type='button' value='Login' ng-click="ctrl.login();"></input>
				</form>
				<div class='login-error' ng-show='ctrl.loginError'>
					<p> Error: Sorry, incorrect username or password combination. </p>
					<p> Please contact __________ with login difficulties, or if you would like to request an account. </p>
				</div>
			</div>
			
			<!-- Buttons for different actions admins can take -->
			<div class='actions' ng-show='ctrl.currentSection === 1'>
				<h3>Menu</h3>
				<button class='select-action-button' ng-click='ctrl.toSignupView();'>
					View current food pantry signups.
				</button>
				<br>
				<button class='select-action-button' ng-click='ctrl.toHoursView();'>
					Manage food pantry hours.
				</button>
				<br>
				<button class='select-action-button' ng-click='ctrl.toAccountsView();'>
					Manage admin accounts.
				</button>
			</div>
			
			<!-- Interactive view for the current guest signups for today or tomorrow. JQuery and show/hidden tags -->
			<div class='viewguests' ng-show="ctrl.currentSection === 2">
				<h3> View guests </h3>
				<p> Click on a day and a time to see a list of guests and whether or not they require a pre-made bag. </p>
				<button id = 'print' ng-click = 'ctrl.printPage()'>Print Page</button>
				<ul id='times'>
					<!-- Today -->
					<li> <a href='#' ng-click='ctrl.toggleToday();'>Today </a> <button class= 'showDays' id = 'showtoday' ng-click = 'ctrl.showAll("today")'>Show All</button>
						<ul class='today-times' ng-show='ctrl.showToday'> 							
							<li ng-repeat='time in ctrl.todayTimes;'> <a href='#' ng-click='ctrl.showGuests("today", time);'>  
								{{time.time[0]}}-{{time.time[1]}} </a>
								<table class='today-guests'>
									<tr ng-repeat='guest in todayGuests[time.time]'> 
											<td>Name: {{guest.firstName}} {{guest.lastName}}</td> <td>Bag: {{ctrl.displayYesNo(guest.premade);}}</td>
									</tr>
								</table>
							</li>
						</ul>
					</li>
					<!-- Tomorrow -->
					<li> <a href='#' ng-click='ctrl.toggleTomorrow();'>Tomorrow </a> <button class = 'showDays' id = 'showtomorrow' ng-click = 'ctrl.showAll("tomorrow")'>Show All</button>
						<ul class='tomorrow-times' ng-show='ctrl.showTomorrow'> 
							<li ng-repeat='time in ctrl.tomorrowTimes;'> <a href='#' ng-click='ctrl.showGuests("tomorrow", time);'>  
								{{time.time[0]}}-{{time.time[1]}} </a>
								<table class='tomorrow-guests'>
									<tr ng-repeat='guest in tomorrowGuests[time.time]'> 
										<td>Name: {{guest.firstName}} {{guest.lastName}}</td> <td>Bag: {{ctrl.displayYesNo(guest.premade);}}</td>
									</tr>
								</table>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<!-- Table displaying the current hours, with edit buttons, and a form for new hours, that will appear only if edit button is clicked-->
			<div class='hours' ng-show='ctrl.currentSection === 3'>
				<h3>Food Pantry Hours of Operation</h3>
				<div class='default'>
					<h4 class='left-align'>Manage default hours:</h4>
					<div class='default-hours'> 
						<table id='default-table'>
							<tr ng-repeat="dayHours in ctrl.defaultHours()">
								<td>{{dayHours.day}} </td>
								<td ng-repeat='time in dayHours.hours'>{{time}}</td>
								<td class='edit-default'> <button ng-click='ctrl.editDefaultHours(dayHours.day);'>edit</button></td>'
							</tr>
						</table>
					</div>
					<!-- Form for new hours.-->
					<div class='edit-default' ng-show='ctrl.showEditDefaultHours'>
						<p> Please enter your new desired hours. 
							<br>
							<strong>Include the start and end time and capacity of each timeslot.</strong>
							<br>
							example - start: 9:00AM end: 10:00AM max-capacity: 27
	 					</p>
	 					<p> New Hours for <span>{{ctrl.editDay}}</span>: </p>
						<form class='new-default-times'>
							<div class='slots'>
								<div class='default-input'>
									start: <input id='default-start-time' type='text' placeholder='9:00AM'> </input>
									end: <input id='default-end-time' type='text' placeholder='10:00AM'> </input>
									max-capacity: <input id='default-max-cap' type='text' placeholder='27'> </input>
									<button class='add-default-time' ng-click='ctrl.addDefaultTimeslot();'>Add</button>
								</div>
								<div>
									<p>Updated hours: </p> 
									<p ng-repeat='slot in ctrl.newDefaultTimeslots'>
										{{slot.start}}--{{slot.end}} ({{slot.cap}})
										<button class='remove-time-slot' ng-click='ctrl.removeDefaultTimeslot();'>Remove</button>
									</p>
								</div>
							</div> 
							<button ng-click='ctrl.saveNewDefaultHours();'>Save New Hours</button>
							<button ng-click='ctrl.cancelNewDefaultHours();'>Cancel</button>
							<p>Your new default hours won't be saved unless you click "Save New Hours"</p>
						</form>
					</div>
				</div>
				<!-- Current specific date rules -->
				<div class='special'>
					<div class='special-hours'>
						<h4 class='left-align'>Manage special hours:</h4>
						<table id='special-table'>
							<!--Runs the specialRules function to get a list of rules, each of which contains a date and a list of times -->
							<tr ng-repeat='rule in ctrl.specialRules()'>
								<td> <strong> {{rule.date}} </strong> </td>
								<td ng-repeat='time in rule.times'>{{time}}</td> 
								<td><button class='edit-special-hours-button' ng-click='ctrl.editSpecialHours(rule.date);'>edit</button></td>
							</tr>
						</table> 
					</div>
						<!-- Form for editing special hours.-->
					<div class='edit-special' ng-show='ctrl.showEditSpecialHours'>
						<p> Please enter your new desired hours. 
							<br>
							<strong>Include the start and end time and capacity of each timeslot.</strong>
							<br>
							example - start: 9:00AM end: 10:00AM max-capacity: 27
	 					</p>
	 					<p> New Hours for <span>{{ctrl.editDate}}</span>: </p>
						<form class='new-special-times'>
							<div class='slots'>
								<div class='special-input'>
									start: <input id='special-start-time' type='text' placeholder='9:00AM'> </input>
									end: <input id='special-end-time' type='text' placeholder='10:00AM'> </input>
									max-capacity: <input id='special-max-cap' type='text' placeholder='27'> </input>
									<button class='add-edited-special-time' ng-click='ctrl.addSpecialTimeslot();'>Add</button>
								</div>
								<div>
									<p>Updated hours: </p> 
									<p ng-repeat='slot in ctrl.newEditedSpecialTimeslots'>
										{{slot.start}}--{{slot.end}} ({{slot.cap}})
										<button class='remove-time-slot' ng-click='ctrl.removeSpecialTimeslot();'>Remove</button>
									</p>
								</div>
							</div> 
							<button ng-click='ctrl.saveNewEditedSpecialHours();'>Save New Hours</button>
							<button ng-click='ctrl.cancelNewEditedSpecialHours();'>Cancel</button>
							<p>Your new hours won't be saved unless you click "Save New Hours"</p>
						</form>
					</div>
				</div>
				<div class='new-special'>
					<div class='new-special-hours'>
						<h4 class='left-align'> Add a New Special Hours Rule </h4>
						<p>Add New Special Hours on Date:</p>
						<select id="select-year">
							<option ng-repeat = "year in ctrl.years" value = {{year}}>{{year}}</option>
						</select>
						<select id="select-month">
							<option ng-repeat = "month in ['January', 'February', 'March', 'April', 'May','June', 'July', 'August', 'September', 'October', 'November', 'December']" value ={{month}}>{{month}}</option>
						</select>
						<select id="select-date">
							<option ng-repeat = "day in ctrl.monthDayPairs.January" value = {{day}}>{{day}}</option>
						</select>
						<button ng-click='ctrl.validateDate();'>Select</button>
						<p> {{ctrl.debug}} </p>
						<p> {{ctrl.debug1}}___{{ctrl.debug2}}___{{ctrl.debug3}} </p>
						<p ng-show='ctrl.showDateError;'>The date you have entered is invalid. </p>
					</div>
					<!-- Form for adding special hours.-->
					<div class='add-special' ng-show='ctrl.showAddSpecialHours'>
						<p> Please enter your new desired hours. 
							<br>
							<strong>Include the start and end time and capacity of each timeslot.</strong>
							<br>
							example - start: 9:00AM end: 10:00AM max-capacity: 27
	 					</p>
	 					<p> New Hours for <span>{{ctrl.editDate}}</span>: </p>
						<form class='new-special-times'>
							<div class='slots'>
								<div class='add-special-input'>
									start: <input id='add-special-start-time' type='text' placeholder='9:00AM'> </input>
									end: <input id='add-special-end-time' type='text' placeholder='10:00AM'> </input>
									max-capacity: <input id='add-special-max-cap' type='text' placeholder='27'> </input>
									<button class='add-special-time' ng-click='ctrl.addAddedSpecialTimeslot();'>Add</button>
								</div>
								<div>
									<p>Updated hours: </p> 
									<p ng-repeat='slot in ctrl.newAddedSpecialTimeslots'>
										{{slot.start}}--{{slot.end}} ({{slot.cap}})
										<button class='remove-time-slot' ng-click='ctrl.removeAddedSpecialTimeslot();'>Remove</button>
									</p>
								</div>
							</div> 
							<button ng-click='ctrl.saveNewAddedSpecialHours();'>Save New Hours</button>
							<button ng-click='ctrl.cancelNewAddedSpecialHours();'>Cancel</button>
							<p>Your new hours won't be saved unless you click "Save New Hours"</p>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Scrollable table with current admins and delete buttons-->
			<!-- Form for new admin -->
			<div class='accounts' ng-show='ctrl.currentSection === 4'>
				<button ng-click='ctrl.getAdminUsernames();'> Refresh Admin Accounts </button>
				<h3>Manage admin accounts</h3>
				<table class='admin-list' >
					<tr ng-repeat='admin in ctrl.allUsernames'>
						<td width='33%'> {{admin.username}} </td>
						<td width='33%'> ({{admin.type}}) </td>
						<td width='33%'> <button ng-click='ctrl.removeAdmin(admin._id)'> remove </button></td>
					</tr>
				</table>
				<button ng-click='ctrl.toAddNewAdmin();'>Add New Admin Account</button>
				<div class='new-admin' ng-show='ctrl.showNewAdmin'>
					<form>
						new username:<input id='new-admin-username' type='text'></input>
						<!--<p class='admin-error-username' ng-show="$('#new-admin-username').val().length>0 && ctrl.validUsername)">That username is available!</p>
						<p class='admin-error-username' ng-show='!ctrl.validUsername;'>That username is already taken, please choose another one.</p>-->
						<br>
						new password:<input id='new-admin-password' type='password'></input>
						<br>
						confirm new password:<input id='new-admin-confirm-password' type='password'></input>
						<br>
						account type: <select id='new-admin-type'><option val='admin'>admin</option><option val='volunteer'>volunteer</option></select>
						<br>
						<button class='not-disappear' id='new-admin' ng-click="ctrl.addNewAdmin();">Save New Admin Account</button>
						<button ng-click='ctrl.hideNewAdminAccountView();'>Cancel</button>
					</form>
					<p ng-show='ctrl.showAdminErrorUsername'>The username you have requested is already taken, select a different one.</p>
					<p ng-show='ctrl.showAdminErrorPassword'>Please ensure that you have typed the same password twice.
				</div>
			</div>
		</div>
	</body>	
</html>