<!DOCTYPE html>

<html>
<head>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src = "bower_components/angular-translate/angular-translate.js"></script>
	<script src='../public/javascripts/NewReservation.js'></script>
	<link href='../public/stylesheets/NewReservation.css' type='text/css' rel='stylesheet'/>
	<link href='http://fonts.googleapis.com/css?family=Sacramento|Roboto|Playfair+Display' rel='stylesheet' type='text/css'>
</head>
<title>
	Rosie's Place Food Pantry Sign Up 
</title>
<body ng-app = "dateTime">
<div ng-controller="datetimeController as ctrl">

<button id = "back"  ng-show="currentSelect >= 0" ng-click = "ctrl.back()"><span style = "font-family: 'Times New Roman';">&#9166</span><br>{{'BACK' | translate}} </button>
<div id = "header"><br>
<img id = "logo" src = '../public/images/logo.png'>
<h1>{{'LOGO_CAPTION' | translate}}</h1><span class = 'noMobile'><br></span>
<button class = 'language' ng-click = 'changeLanguage("en")'>English</button>
<button class = 'language' ng-click = 'changeLanguage("es")'>Español</button>
<button class = 'language' ng-click = 'changeLanguage("zh")'>中文</button>
<button class = 'language' ng-click = 'changeLanguage("pt")'>Português</button>
<button class = 'language' ng-click = 'changeLanguage("ht")'>Kreyòl</button> 
</div>

<!-- ERROR: GUEST NOT FOUND -->
<div ng-show = "currentSelect === -10" id = "notFound">
	<h3>{{'ERROR' | translate}}</h3>
	<p>{{'NOT_FOUND' | translate}}.<br>{{'TRY_AGAIN_OR' | translate}} {{'CONTACT' | translate}}.</p>
	<button class = 'button5' ng-click = 'ctrl.reset()'>{{'EXIT' | translate}}</button>
</div>

<!--ERROR: PAST APPOINTMENT -->
<div ng-show = "currentSelect === -9" id = "tooSoon">
	<h3></h3>
	<p>You have visited in the past 30 days!</p>
	<p>{{'CONTACT' | translate}}</p>
	<!-- need a cancel button -->
</div>

<!--ERROR: UPCOMING APPOINTMENT -->
<div ng-show = "currentSelect === -8" id = "tooMany">
	<h3>{{'REMINDER' | translate}}</h3>
	<p>{{'YOUR_APPOINTMENTS_DATE' | translate}} {{ctrl.lastVisit.date}}.</p>
	<p>{{'YOUR_APPOINTMENTS_TIME' | translate}} {{ctrl.lastVisit.timeSlot}}. </p>
	<p>{{'WAITLIST' | translate}}: {{ctrl.lastVisit.waitlist | translate}}<p>
	<p>{{'PRESS_CANCEL' | translate}}</p>
	<p>{{'PRESS_EXIT' | translate}}</p>
	<button class = 'button5' ng-click = 'ctrl.cancel(user)'>{{'CANCEL' | translate}}</button>
	<button class = 'button5' ng-click = 'ctrl.reset()'>{{'EXIT' | translate}}</button>
</div>

<!--WAITLIST INFO -->
<div ng-show = 'currentSelect === -7' id = 'waitlistInfo'>
	<h3>{{'WAITLIST' | translate}}</h3>
	<p>{{'WAITLIST_STATEMENT' | translate}}</p>
	<p>{{'WAITLIST_INFO' | translate}}</p>
	<button class = 'button-7' ng-click = 'currentSelect = 0'>{{'SELECT_DIFF' | translate}}</button>
	<button class = 'button-7' ng-click = 'user.waitlist = true; currentSelect = 2'>{{'CONTINUE_ANYWAYS' | translate}}</button>
</div>

<!-- NORMAL FLOW -->
<div ng-show = "currentSelect === -1">
	<h3>{{'LOG_IN' | translate}}</h3>
	<form name = 'guestForm' novalidate>
	<span class = "label"> {{'FIRST_NAME' | translate}}: </span><input name = "first" type = "text" ng-model = "user.firstName" placeholder = "type here" required = ""><br>
	<span class = "error" ng-show = "ctrl.attempted && !user.firstName">{{'MISSING_FIRST' | translate}}</span><br>

	<span class = "label"> {{'LAST_NAME' | translate}}: </span><input name = "last" type = "text" ng-model = "user.lastName" placeholder = "type here" required = ""><br>
	<span class = "error" ng-show = "ctrl.attempted && !user.lastName">{{'MISSING_LAST' | translate}}</span><br>

	<span class = "label"> {{'DATE_OF_BIRTH' | translate}}: </span>

	<select name = "year" id = "dobyear" ng-model = "user.dob.year" ng-change = "ctrl.updateDates()" ng-options = "year for year in ctrl.years" required = ""></select>
	<select name = "month" id = "dobmonth" ng-model = "user.dob.month" ng-change = "ctrl.updateDates()" required = "">
		<option value = '0'>{{'JANUARY' | translate}}</option>
		<option value = '1'>{{'FEBRUARY' | translate}}</option>
		<option value = '2'>{{'MARCH' | translate}}</option>
		<option value = '3'>{{'APRIL' | translate}}</option>
		<option value = '4'>{{'MAY' | translate}}</option>
		<option value = '5'>{{'JUNE' | translate}}</option>
		<option value = '6'>{{'JULY' | translate}}</option>
		<option value = '7'>{{'AUGUST' | translate}}</option>
		<option value = '8'>{{'SEPTEMBER' | translate}}</option>
		<option value = '9'>{{'OCTOBER' | translate}}</option>
		<option value = '10'>{{'NOVEMBER' | translate}}</option>
		<option value = '11'>{{'DECEMBER' | translate}}</option>

	</select>
	<select name = "day"id = "dobdate" ng-model = "user.dob.day"required = ""><option ng-repeat = "day in ctrl.monthDayPairs[0]" value = {{day}}>{{day}}</options></select><br>
	<span class = "error" ng-show = "ctrl.attempted && (!user.dob.day || !user.dob.month || !user.dob.year)">{{'MISSING_DOB' | translate}}</span>
<br><br>
	<button type = "submit" class = "button-1" ng-click = "ctrl.lookup(user)">{{'CONTINUE' | translate}}</button>
	</form>

</div>

<div ng-show = "currentSelect === 0">
<h3>{{'SELECT_A_DATE' | translate }}</h3>
	<br>
	<button class = "button0" ng-click="ctrl.dateIndex = 0; ctrl.selectDate(0); ctrl.next()"><b>{{dateSlots[0]}}</b><br>({{'TODAY' | translate}})</button>
	<button class = "button0" ng-click="ctrl.dateIndex = 1; ctrl.selectDate(1);ctrl.next()"><b>{{dateSlots[1]}}</b><br>({{'TOMORROW' | translate}})</button>
</div>

<div ng-show = "currentSelect === 1">
<h3>{{'SELECT_A_TIME' | translate}}</h3>
<div><button ng-repeat="time in timeSlots[ctrl.dateIndex]" class = "button1 {{time[1]}}" ng-disabled = {{ctrl.disableClosed(time)}} ng-click="ctrl.buttonDo(time)">{{ctrl.timeArrayToString(time[0])}}<span ng-show = 'time[1] == "waitlist"'><br>{{'WAITLIST' | translate}}</span></button></div>
</div>

<div ng-show = "currentSelect === 2">
<h3>{{'PREMADE_BAG' | translate}}</h3>
	<button class = "button2" ng-click="ctrl.selectBag('YES'); ctrl.next()"><b>{{'YES' | translate}}</b><br><span class = 'long'>{{'MAKE_BAG' | translate}}</span></button>
	<button class = "button2" ng-click="ctrl.selectBag('NO'); ctrl.next()"><b>{{'NO' | translate}}</b><br><span class = 'long'>{{'I_CHOOSE' | translate}}</span></button>
</div>

<!-- <div ng-show = "currentSelect === 3">
<h3>Dietary Constraints</h3>
	<button class = "button3" ng-click="ctrl.allergies = true;"><b>YES</b> </button>
	<button class = "button3" ng-click="ctrl.clearAllergies(); allergies = ''; ctrl.next()"><b>NO</b></button>
	<br><br>
	<textarea id = "allergybox" rows = "4" cols = "50" ng-show = "ctrl.allergies" ng-model="allergies" placeholder = "type your dietary constraints here"></textarea>
	<br>
	<button class = "button3-1" ng-click = "ctrl.next()" ng-show = "ctrl.allergies">done</button>
</div> -->

<div ng-show = "currentSelect === 3" id = "confirmationPage">
	<h3>{{'CONFIRMATION' | translate}}</h3>
	<table>
		<tr>
			<td>{{'NAME' | translate}}: </td>
			<td>{{user.firstName}} {{user.lastName}}</td>
		</tr>
		<tr>
			<td>{{'DATE' | translate}}: </td>
			<td>{{dateSlots[ctrl.dateIndex]}}</td>
		</tr>
		<tr>
			<td>{{'TIME' | translate}}: </td>
			<td>{{ctrl.timeArrayToString(ctrl.timeSelect[0])}}</td>
		</tr>
		<tr>
			<td>{{'PREMADE_BAG' | translate}}: </td>
			<td>{{ctrl.bag | translate}}</td>
		</tr>
		<tr ng-show = 'user.waitlist'>
			<td>{{'WAITLIST' | translate}}:</td>
			<td>{{'YES' | translate}}</td>
		</tr>
<!-- 		<tr>
			<td>Dietary constraints: </td>
			<td>{{allergies}}</td>
		</tr> -->
	<table>
	<button class = "button4" ng-show = '!submitSuccess' ng-click = "ctrl.sendReservation(user, ctrl.dateSelect, ctrl.timeSelect, ctrl.bag)">submit</button><br>
	<span ng-show = "submitSuccess">Successfully Saved!<br><button class = 'button5' ng-click = 'ctrl.print()'>print page</button><br><button class = 'button5' ng-click = 'ctrl.reset()'>exit</button></span>
</div>


</div>
</body>
</html>
