<!DOCTYPE html>

<html>
<head>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='../public/javascripts/NewReservation.js'></script>
	<link href='../public/stylesheets/NewReservation.css' type='text/css' rel='stylesheet'/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Playfair+Display' rel='stylesheet' type='text/css'>
</head>

<body ng-app = "dateTime">
<div ng-controller="datetimeController as ctrl">

<button id = "back"  ng-show="currentSelect >= 0" ng-click = "ctrl.back()"><span style = "font-family: 'Times New Roman';">&#9166</span><br>BACK </button>
<div id = "header"><br>
<img id = "logo" src = '../public/images/logo.png'>
<h1>Food Pantry Sign Up</h1>
</div>

<!-- ERROR: GUEST NOT FOUND -->
<div ng-show = "currentSelect === -10" id = "notFound">
	<h3>Error</h3>
	<p>Your information was not found in the database.<br>Please try again or call Patricia Jones in Rosie’s Place Pantry at 617-318-0236 for assistance.</p>
	<button class = 'button5' ng-click = 'ctrl.reset()'>exit</button>
</div>

<!--ERROR: PAST APPOINTMENT -->
<div ng-show = "currentSelect === -9" id = "tooMany">
	<h3></h3>
	<p>You have visited in the past 30 days!</p>
	<!-- need a cancel button -->
</div>

<!--ERROR: UPCOMING APPOINTMENT -->
<div ng-show = "currentSelect === -8" id = "tooSoon">
	<h3>Reminder</h3>
	<p>You are signed up for {{ctrl.lastVisit.date}}.</p>
	<p>Your timeslot is {{ctrl.lastVisit.timeSlot}}. </p>
	<p>Press "cancel" to cancel this sign up and make a new one</p>
	<p>Press "exit" to close</p>
	<button class = 'button5' ng-click = 'ctrl.cancel(user)'>cancel</button>
	<button class = 'button5' ng-click = 'ctrl.reset()'>exit</button>
</div>

<!-- NORMAL FLOW -->
<div ng-show = "currentSelect === -1">
	<h3>Log In</h3>
	<form name = 'guestForm' novalidate>
	<span class = "label"> First Name: </span><input name = "first" type = "text" ng-model = "user.firstName" placeholder = "type here" required = ""><br>
	<span class = "error" ng-show = "ctrl.attempted && !user.firstName">please enter your first name</span><br>

	<span class = "label"> Last Name: </span><input name = "last" type = "text" ng-model = "user.lastName" placeholder = "type here" required = ""><br>
	<span class = "error" ng-show = "ctrl.attempted && !user.lastName">please enter your last name</span><br>

	<span class = "label"> Date of Birth: </span>

	<select name = "year" id = "dobyear" ng-model = "user.dob.year" ng-change = "ctrl.updateDates()" ng-options = "year for year in ctrl.years" required = ""></select>
	<select name = "month" id = "dobmonth" ng-model = "user.dob.month" ng-change = "ctrl.updateDates()" ng-options = "month for month in ['January', 'February', 'March', 'April', 'May','June', 'July', 'August', 'September', 'October', 'November', 'December']" required = ""></select>
	<select name = "day"id = "dobdate" ng-model = "user.dob.day"required = ""><option ng-repeat = "day in ctrl.monthDayPairs[0]" value = {{day}}>{{day}}</options></select><br>
	<span class = "error" ng-show = "ctrl.attempted && (!user.dob.day || !user.dob.month || !user.dob.year)">please fill out your date of birth</span>
<br><br>
	<button type = "submit" class = "button-1" ng-click = "ctrl.lookup(user)">next</button>
	</form>

</div>

<div ng-show = "currentSelect === 0">
<h3>Select a Date</h3>
	<br>
	<button class = "button0" ng-click="ctrl.dateIndex = 0; ctrl.selectDate(0); ctrl.next()"><b>{{ctrl.dateSlots[0]}}</b><br>(today)</button>
	<button class = "button0" ng-click="ctrl.dateIndex = 1; ctrl.selectDate(1);ctrl.next()"><b>{{ctrl.dateSlots[1]}}</b><br>(tomorrow)</button>
</div>

<div ng-show = "currentSelect === 1">
<h3>Select a Time</h3>
<div><button ng-repeat="time in timeSlots[ctrl.dateIndex]" class = "button1 {{time[1]}}" ng-disabled = {{ctrl.disableClosed(time)}} ng-click="ctrl.selectTime(time); ctrl.next()">{{ctrl.timeArrayToString(time[0])}}</button></div>
</div>

<div ng-show = "currentSelect === 2">
<h3>Premade Bag</h3>
	<button class = "button2" ng-click="ctrl.selectBag('yes'); ctrl.next()"><b>YES</b><br>make me a bag</button>
	<button class = "button2" ng-click="ctrl.selectBag('no'); ctrl.next()"><b>NO</b><br>I want to pick my own food</button>
</div>

<!-- <div ng-show = "currentSelect === 3">
<h3>Dietary Constraints</h3>
	<button class = "button3" ng-click="ctrl.allergies = true;"><b>YES</b> </button>
	<button class = "button3" ng-click="ctrl.clearAllergies(); allergies = ''; ctrl.next()"><b>NO</b></button>
	<br><br>
	<textarea id = "allergybox" rows = "4" cols = "50" ng-show = "ctrl.allergies" ng-model="allergies" placeholder = "type your dietary constraints here"></textarea>
	<br>
	<button class = "button3-1" ng-click = "ctrl.next()" ng-show = "ctrl.allergies">done</button>
</div> -->

<div ng-show = "currentSelect ===3" id = "confirmationPage">
	<h3>Confirmation</h3>
	<table>
		<tr>
			<td>Name: </td>
			<td>{{user.firstName}} {{user.lastName}}</td>
		</tr>
		<tr>
			<td>Date: </td>
			<td>{{ctrl.dateSelect}}</td>
		</tr>
		<tr>
			<td>Time: </td>
			<td>{{ctrl.timeArrayToString(ctrl.timeSelect[0])}}</td>
		</tr>
		<tr>
			<td>Pre-made Bag: </td>
			<td>{{ctrl.bag}}</td>
		</tr>
<!-- 		<tr>
			<td>Dietary constraints: </td>
			<td>{{allergies}}</td>
		</tr> -->
	<table>
	<button class = "button4" ng-show = '!submitSuccess' ng-click = "ctrl.sendReservation(user, ctrl.dateSelect, ctrl.timeSelect, ctrl.bag)">submit</button><br>
	<span ng-show = "submitSuccess">Successfully Saved!<br><button class = 'button5' ng-click = 'ctrl.print()'>print page</button><br><button class = 'button5' ng-click = 'ctrl.reset()'>exit</button></span>
</div>


</div>
</body>
</html>
