/*Stylesheet for admin side*/
html {
	background-color: #734866;
	color: white;
	text-align: center;
	font-family: 'Roboto' Helvetica;
  background-image: url('../images/admin-background.png');
	background-size: 100%;
	font-size: 25px;

}

body {
	margin-bottom: 50px;
}

h1{
	margin: 0px;
	color: #d973aa;
	font-family: 'Playfair Display';
	font-size: 18px;
}
h3{
	width: 100%;
	font-size: 75px;
	margin-bottom: 20px;
	margin-top: 25px;
	font-family: 'Playfair Display';
}

/*trying to work on animations...currently doesn't work*/
.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block;
  opacity: 1;
}

.ng-hide {
	opacity: 0;
}

.left-align {
	text-align: left;
}

#logo {
	width: 150px;
	margin-top: 50px;
}

input {
	margin: 10px;
}
button:focus{
	outline:0;
}
button{
	color: #3c84d5;
	font-size: 40px;
	border-radius: 10px;
	font-family: 'Roboto';
	background-color: white;
	border-top: 3px solid lightgray;
	border-left: 3px solid lightgray;
	border-right: 3px solid gray;
	border-bottom: 3px solid gray;
}

button:active{
	border-top: 3px solid gray;
	border-left: 3px solid gray;
	border-right: 3px solid lightgray;
	border-bottom: 3px solid lightgray;	
}

#login-button {
	font-size: 24pt;
	border-radius: 12px;
	padding: 10px;
}

.login-error {
	border: 1px solid red;
	background-color: white;
	color: black;
	margin: auto;
	max-width: 75%;
}

#back-button {
	position: fixed;
	width: 150px;
	height: 75px;
	left: 5px;
	top: 5px;
	font-size: 24pt;
	border-radius: 10px;

}

#print{
	position: fixed;
	top: 5px;
	right: 5px;
}

.select-action-button {
	border-radius: 10px;
	background-color: white;
	color: black;
	padding: 5px;
	margin: 10px;
	font-size: 24pt;
}
.showDays{
	font-size: 15px;
	vertical-align: middle;
}
.viewguests {
	max-width: 50%;
	margin: auto;
	text-align: left;
}

.viewguests a {
 	text-decoration: none;
 	color:white;
}

.viewguests td {
	padding-right: 10px;
	padding-left: 10px;
}
.viewguests tr{
	background-color: white;
	color: navy;
	border-radius: 12px;
}

.viewguests td:first-child{
	border-radius: 12px 0 0 12px;
}

.viewguests td:last-child{
	border-radius: 0 12px 12px 0;
}

.hours {
	margin-left: 2%;
	margin-right: 2%;
}

#default-table td {
 	padding: 10px;
 }

.new-hours {
	height: 25px;
}

.default {
	width: 95%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 2pt white solid;
}

.hours button {
	font-size: 12pt;
	text-align: center;
}

.default a{
	color: white;
	text-decoration: none;
}

.default-hours {
	max-width: 65%;
	float: left;
	font-size: 12pt;
	overflow: scroll;
}

.edit-default {
	float: right;
	overflow: scroll;
	max-width: 35%;
	font-size: 11pt;
}

.add-default {
	float: right;
	overflow: scroll;
	max-width: 35%;
	font-size: 11pt;
}

.default span {
	text-decoration: underline;
	font-size: 20pt;
}

.default-table {
	overflow: scroll;
	text-align: center;
}

.special {
	clear: both;
	width: 95%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 2pt white solid;
}

.special-hours {
	width: 60%;
	float: left;
	font-size: 12pt;
}

.edit-special {
	display: inline-block;
	float: right;
	max-width: 35%;
	overflow: scroll;
	font-size: 10pt;
}

#special-table {
	display: block; /*have to make it block to make it scrollable*/
	overflow: scroll; 
	max-height: 300px;
}

#special-table td{
	padding: 10px;
}

#special-table a {
	text-decoration: none;
	color: white;
}

.new-special {
	clear: both;
	width: 95%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 2pt white solid;
}

.new-special-hours {
	width: 30%;
	float: left;
}

.add-special {
	float: right;
	display: inline-block;
	max-width: 50%;
	overflow: scroll;
	font-size: 10pt;
}

.admin-list {
	display: block;
	overflow: scroll;
	max-height: 300px;
	max-width: 50%;
	margin: auto;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}

.admin-list tr {
	border: 1px black solid;
}

tr:nth-child(even) {
	/*background-color: #9750A1;*/
	padding: 10px;
}

tr:nth-child(odd) {
  /*background-color: #CCCCCC;*/
  padding: 10px;
}

.admin-edit-buttons {
	font-size: 18pt;
}

/*for printer friendly version*/
@media only print{
	html{
		background-image: none;
		background-color: white;
		font-size: 18px;
		color: black;
	}

	button{
		display: none;
	}

	h3{
		font-size: 25px;
	}

	.viewguests{
		max-width: 100%;
	}

	.viewguests a{
		color: black;
	}

}
