/*Stylesheet for admin side*/
html {
	background-color: #734866;
	color: white;
	text-align: center;
	font-family: Helvetica;
}

body {
	margin-bottom: 50px;
}

/*trying to work on animations...currently doesn't work*/
.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block;
  opacity: 1;
}

.ng-hide {
	opacity: 0;
}

.left-align {
	text-align: left;
}

#logo {
	width: 150px;
	margin-bottom: 50px;
}

input {
	margin: 10px;
}

#login-button {
	font-size: 24pt;
}

.login-error {
	border: 1px solid red;
	background-color: white;
	margin: auto;
	max-width: 75%;
}

#back-button {
	position: fixed;
	width: 150px;
	height: 75px;
	left: 5px;
	top: 5px;
	font-size: 24pt;
	border-radius: 10px;

}

.select-action-button {
	border-radius: 10px;
	background-color: white;
	color: black;
	padding: 5px;
	margin: 10px;
	font-size: 24pt;
}

.viewguests {
	max-width: 50%;
	margin: auto;
	text-align: left;
}

.viewguests a {
 	text-decoration: none;
 	color: white;
}

.viewguests td {
	padding-right: 10px;
	padding-left: 10px;
}

.hours {
	margin-left: 20%;
	margin-right: 20%;
}

#default-hours td {
 	padding: 10px;
 }

.new-hours {
	height: 25px;
}

.edit-default span {
	text-decoration: underline;
	font-size: 20pt;
}

.remove-time-slot {
	/*background-color: red;*/
}

#special-hours {
	display: block; /*have to make it block to make it scrollable*/
	overflow: scroll; 
	max-height: 300px;
}

#special-hours td{
	padding: 10px;
}

.admin-list {
	display: block;
	overflow: scroll;
	max-height: 300px;
	max-width: 50%;
	margin: auto;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}

.admin-list tr {
	border: 1px black solid;
}

tr:nth-child(even) {
	/*background-color: #9750A1;*/
	padding: 10px;
}

tr:nth-child(odd) {
  /*background-color: #CCCCCC;*/
  padding: 10px;
}

.admin-edit-buttons {
	font-size: 18pt;
}
